/* ================== RESET BÁSICO ================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #333;
   
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
/* ================== HEADER ================== */
.page-header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    margin-top: 1rem;
    margin: 1rem auto; /* <-- AQUÍ CAMBIA */
    border-radius: 20px;
    max-width: 1500px;
    
    
}

/* BLOQUE: .nav-bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 2rem;
    padding: 0 10px;
    margin: 0 auto; /* <-- Asegura que este bloque también esté centrado */

}

/* ELEMENTO: .nav-bar__links */
.nav-bar__links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* ELEMENTO: .nav-bar__link */
.nav-bar__link {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-bar__link:hover {
    color: #55CFFF;
}

/* MODIFICADOR: .nav-bar__link--act*/
.nav-bar__link--active {
    color: #55CFFF;
    text-decoration: underline;
}

/* LOGO */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}